@med-width-panel: 300px;
@med-height-menu: 80px;

@pad-width-panel: 200px;
@pad-height-menu: 50px;

@mob-width-panel: 300px;
@mob-height-menu: 50px;

@color-blue: #375A7F;
@color-base: #222222;
@color-back: #303030;
@color-surf: #0CE3AC;
@color-surf-hover: #008966;
@color-danger: #E74C3C;
@color-danger-hover: #D62C1A;
@color-shad: lighten(@color-base, 20%);
@color-white: #FEFEFE;
@color-dark-white: #F0F0F0;
@color-dark-grey: #AEAEAE;
@color-grey: #CCCCCC;
@color-light-grey: #DFDFDF;
@color-boy: #C5EFF7;
@color-girl: #DCC6E0;
@color-warning: #CF841B;

@color-up: #5cb85c;
@color-down: #d9534f;
@color-fav: #f0ad4e;

@media screen and (min-width: 480px) {/*Mobile */
    body{
        margin-top: @mob-height-menu;
        margin-left: 0px;
    }
    #userTopInfo{
        margin-left: -@mob-width-panel;
        width: @mob-width-panel;
        height: @mob-height-menu;
        line-height: @mob-height-menu;
    }
    #userTopBlock{
        height: @mob-height-menu;
    }
    #userPanel{
        margin: 0;
        margin-left: -@mob-width-panel;
        display: none;
        width: @mob-width-panel;
    }
    #userMenu{
        margin-right: 0px;
        margin-top: -25px;
    }
    #avatar{
        margin: 5px;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
    }
    #companyLogo{
        margin-top: -10px;
    }
    #siteName{
        margin-top: 0px;
    }
    .forMob{
        display: block;
    }
}
@media screen and (min-width: 768px)  {/*Pads */
    body{
        margin-top: @pad-height-menu;
        margin-left: @pad-width-panel;
    }
    #userTopInfo{
        margin-left: -@pad-width-panel;
        width: @pad-width-panel;
        height: @pad-height-menu;
        line-height: @pad-height-menu;
    }
    #userTopBlock{
        height: @pad-height-menu;
    }
    #userPanel{
        margin: 0;
        margin-left: -@pad-width-panel;
        display: inline;
        width: @pad-width-panel;
    }
    #userMenu{
        margin-right: @pad-width-panel;
        margin-top: -25px;
    }
    #avatar{
        margin: 5px;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
    }
    #companyLogo{
        margin-top: -10px;
    }
    #siteName{
        margin-top: 0px;
    }
    .forMob{
        display: none;
    }
}
@media screen and (min-width: 928px) {/*Computers */
    body{
        margin-top: @med-height-menu;
        margin-left: @med-width-panel;
    }
    #userTopInfo{
        margin-left: -@med-width-panel;
        width: @med-width-panel;
        height: @med-height-menu;
        line-height: @med-height-menu;
    }
    #userTopBlock{
        height: @med-height-menu;
    }
    #userPanel{
        margin: 0;
        margin-left: -@med-width-panel;
        display: inline;
        width: @med-width-panel;
    }
    #userMenu{
        margin-top: -10px;
        margin-right: @med-width-panel;
    }
    #avatar{
        margin: 16px;
        background-size: 48px 48px;
        width: 48px;
        height: 48px;
    }
    #companyLogo{
        margin-top: auto;
    }
    #siteName{
        margin-top: 10px;
    }
    .forMob{
        display: none;
    }
}

a{
    color: @color-dark-grey;
}
a:hover{    
    text-decoration: none;
}

th{
    padding-left: 10px;
}

.nav > li > a:hover{
    color: @color-light-grey;
    background-color: @color-blue;
}

.fill{
    background-color: lighten(@color-blue, 50%);
}
.like.fill{
    background-color: lighten(@color-up, 25%);
}
.like:hover{
    background-color: lighten(@color-up, 15%);
}
.dislike.fill{
    background-color: lighten(@color-down, 25%);
}
.dislike:hover{
    background-color: lighten(@color-down, 15%);
}
.fav.fill{
    background-color: lighten(@color-fav, 25%);
}
.fav:hover{
    background-color: lighten(@color-fav, 15%);
}

.nav-pills > li.active > a{
    background-color: @color-back;
}
.nav-pills > li.active > a:hover{
    background-color: @color-back;
}
.nav > li > a{
    margin: 0;
    margin-left: 5px;
    padding: 5px 10px;
}
.nav-stacked > li + li{
    margin-top: 2px;
    margin-bottom: 2px;
}
.glyphicon{
    margin-right: 10px;
}

.panelTitle{
    margin: 20px 15px;
    color: @color-dark-grey;
    clear: both;
    font-size: 14px;
}

.bigText{
    margin: 0;
    padding: 20px;
    font-size: 32px;
    color: @color-base;
    float: left;
    font-family: Trebuchet MS;
    clear: both;
}

.medText{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: @color-base;
    float: left;
    font-family: Philosopher;
    clear: both;
}

.fineText{
    font-family: Trebuchet MS;
    font-style: italic;
    font-size: 18px;
}

.post{
    margin-bottom: 5px;
    margin-left: -10px;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
    border: 1px solid @color-light-grey;
    border-radius: 4px;
}

.postName{
    margin: 10px;
    margin-bottom: 5px;
    padding: 0 10px 0 15px;
    font-size: 20px;
    color: @color-base;
    float: left;
    font-family: Trebuchet MS;
    clear: both;
    cursor: pointer;
    width: 100%;
}

.postDescription{
    margin: 0;
    margin-left: -15px;
    padding: 0;
    padding-left: 5px;
    font-family: Consolas;
    font-size: 13px;
    color: @color-dark-grey;
}

.postBody{
    margin-top: 0px;
    margin-left: 10px;
    padding: 10px;
    font-size: 13px;
    font-family: 'Marmelad', sans-serif;
    text-align: left;
    float: left;
    word-wrap: break-word;
    max-width: 99%;
    clear: both;
    color: darken(@color-dark-grey, 30%);
    border: 1px solid @color-dark-grey;
    border-radius: 3px;
    background-color: @color-dark-white;
    overflow: hidden;
    line-height: 1.4;
}
.postTags{
    margin-right: 0px;
    padding-right: 0px;
    float: right;
}
.postTag{
    margin-top: 5px;
    margin-left: 10px;
    padding: 2px;
    font-size: 10px;
    color: @color-dark-grey;
    border: 1px solid @color-dark-grey;
    border-radius: 3px;
    float: right;
}
.btnOpenPost{
    margin: 0; 
    margin-left: -10px;
    margin-right: 10px;
    padding: 0;
    padding-top: 5px;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    width: 20px;
    font-size: 18px;
    color: @color-grey;
}

.btnOpenPost:hover{
    color: @color-blue;
}

.post > pre {
    margin-left: 10px;
}

.br{
    margin: 0;
    padding: 0;
    height: 10px;
    clear: both;
}

.headerElement{
    float: left; 
    margin: 10px; 
    display: inline-block;
}

.wide{
    width: 100%;
}

.rotate {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.avatarBig{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
    width: 96px;
    height: 96px;
    border: 1px;
    box-shadow: -2px 3px 3px #888888;
    float: left;
    clear: both;
}

.postSign{
    margin-top: 5px;
    margin-left: 10px;
    padding: 2px;
    border: 1px solid @color-light-grey;
    border-radius: 3px;
    font-size: 10px;
    float: left;
}

.postSignGlob{
    margin: 0;
    padding: 0;
}

.tiny{
    border: 1px solid lighten(@color-blue, 50%);
    background-color: lighten(@color-blue, 55%);
}

.personBlock{
    margin-top: 20px;
    margin-left: 1%;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
    background-color: @color-dark-white;
    border-radius: 3px;
    min-height: 250px;
    width: 32%;
}

.btnSimple{
    margin: 0;
    color: black;
}

.userItem{
    width: 99%;
    padding: 20px;
    box-shadow: 0px 0px 1px 0px #888888;
}

.badgeDelete{
    margin-top: 20px;
    float: right; 
    font-size: 28px;
}

.badgeEdit{
    right: 10px;
    float: right;
}

.btn-none{    
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    background: none;
    border: none;
}

.postListLine{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: inline;
    float: left;
}

.back{
    background-color: lighten(@color-light-grey, 5%);
}

.back1{
    background-color: lighten(@color-boy, 5%);
}

.back2{
    background-color: lighten(@color-girl, 5%);
}

.accessMail1{
    margin: 10px 10px;
    padding-left: 15px;
    width: 50px;
    height: 26px;
    border-radius: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 19px;
    background-color: @color-surf-hover;
    cursor: pointer;
    color: @color-white;
}
.accessMail1:before{
    content: "\e105";
}

.accessMail2{
    margin: 10px 10px;
    padding-left: 15px;
    width: 50px;
    height: 26px;
    border-radius: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 19px;
    background-color: @color-warning;
    cursor: pointer;
    color: @color-white;
}
.accessMail2:before{
    content: "\e106";
}

.deleteMail{
    margin: 10px 10px;
    padding-left: 15px;
    width: 50px;
    height: 26px;
    border-radius: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 19px;
    background-color: @color-danger-hover;
    cursor: pointer;
    color: @color-white;
}
.deleteMail:before{
    content: "\e088";
}

.userPersonLogin{
    font-weight: bold;
    color: @color-blue;
}

.userPersonName{
    font-style: italic;
}

#userTop{
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
}

#userTopInfo{
    background-color: @color-back;
    top: 0px;
    position: fixed;
    z-index: 1013;
}

#avatar{
    border: 2px solid @color-white;
    border-radius: 3px;
    background-color: transparent;
    float: left;
}

#userName{
    color: @color-white;
    font-size: 16px;
    float: left;
}

#userTopBlock{
    margin: 0;
    padding: 20px;
    background-color: @color-blue;
    width: 100%;
    top: 0px;
    position: fixed;
    color: @color-white;
    overflow: hidden;
    z-index: 1010;
    box-shadow: 0px 3px 10px @color-blue;
}

#siteName{
    margin-left: 10px;
    float: left;
    color: @color-white;
    display: inline-block;
}

#companyLogo{
    margin-left: 20px;
    float: left;
    font-size: 24px;
    line-height: 40px;
    color: @color-white;
    display: inline-block;
}

#userPanel{
    padding: 10px;
    height: 100%;
    position: fixed;
    background-color: @color-base;
    //background-image: url(../img/panel.jpg);
    display: inline;
    z-index: 1012;
}

#data{
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    padding-left: 20px;
    min-height: 100%;
    display: inline-block;
}

#btnCreatePost{
    padding: 5px 9px;
    float: right;
    width: 31px;
    height: 31px;
    border-radius: 4px;
    color: @color-blue;
    background-color: @color-back;
}

#btnCreatePost:hover{
    color: @color-danger;
    background-color: @color-blue;
}

#modalContentPost{
    position: fixed;
    width: 90%;
}

#userMenu{
    float: right;
}

#btnPersonForm{
    padding: 1px 7px;
    font-size: 28px;
    width: 42px;
    height: 42px;
    color: @color-back;
}

#personGender{
    padding: 5px;
    height: 33px;
}

#adminLink{
    float: right;

}
.posts{
    margin-top: 20px;
}
.hamburger{
    margin-top: -15px;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #fefefe;
    border-radius: 4px;
    color: @color-blue;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
}
.hamburger > span{
    margin: 7px;
}